.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.4rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: $box-shadow-small;
    transition: transform .3s;
    &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;
        @include textGradientDefault
    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
        box-shadow: $box-shadow-big-heavy;
    }
}