.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: $box-shadow-small;
    background-color:rgba($color-white, .7);
    border-radius: 3px;
    padding:4rem;
    padding-left: 6rem;
    font-size: $font-size-default;
    transform: skewX(-10deg);

    @include responsiveQ(tab-port) {
        width:100%;
        transform: skewX(-5deg);
        padding:3rem;
        padding-left: 5rem;
    }

    @include responsiveQ(tab-port) {
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        position: relative;
        float:left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(10deg);

        @include responsiveQ(tab-port) {
            transform: skewX(0) translateX(-3rem);
        }
    }

    &__img {
        height:100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
    }

    &__text {
        transform: skewX(10deg);

        @include responsiveQ(tab-port) {
            transform: skewX(5deg);
        }

        @include responsiveQ(phone) {
            transform: skewX(0deg);
        }
    }
    &__caption {
        position: absolute;
        color:$color-white;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        text-align: center;
        opacity: 0;
        transition: all .5s;
    }
    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter:blur(3px) brightness(75%)
    }
}