$color-primary: #7ed56f;
$color-primary-light: #6af598;
$color-primary-dark: #138b4f;

$color-secondary-light: #ffb900;
$color-secondary-dark: #f55a07;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #e7e7e7;

$color-grey-dark:#777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;

$banner-color-tertiary: #d7f5eb;
$banner-color-primary: #43cea2;
$banner-color-secondary: #185a9d;
// gradient
$color-gradient-default: linear-gradient(to right, $color-primary-light, $color-primary-dark);
$color-gradient-secondary: linear-gradient(to right, $color-secondary-light, $color-secondary-dark);
$color-gradient-tertiary: linear-gradient(to right, $color-tertiary-light, $color-tertiary-dark);

// grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem; // in between col.

// font
$font-size-default:1.6rem;

// box-shadow
$box-shadow-small: 0 .5rem 1rem rgba($color-black, 0.2);
$box-shadow-small-heavy: 0 .5rem 1rem rgba($color-black, 0.8);
$box-shadow-big: 0 1rem 2rem rgba($color-black, 0.2);
$box-shadow-big-heavy: 0 1rem 2rem rgba($color-black, 0.8);