.section {
    padding:20rem 1rem;
    margin-top: -15vh;
}

.section-about {
    background-color: $color-grey-light-1;

}

.section-feature {
    background-image: linear-gradient( to right bottom, rgba($banner-color-primary, 0.8), rgba($banner-color-secondary, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-6deg);
    & > * {
        transform: skewY(6deg);
    }
}

.section-tour {
    margin-top: -10vh;
    background-color: $color-grey-light-1;
    padding:20rem 1rem 50rem 1rem;
}