.section {
    padding:20rem 1rem;
    margin-top: -20vh;
    margin-bottom: -5vh;
}

.section-about {
    background-color: $color-grey-light-1;

}

.section-feature {
    background-image: linear-gradient( to bottom, rgba($color-grey-light-1, 1), rgba($banner-color-secondary, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;
    backface-visibility: hidden;

    transform: skewY(-6deg);
    & > * {
        transform: skewY(6deg);
    }
}

.section-tour {
    background-color: $color-grey-light-1;
}

.section-story {
    background-image: linear-gradient( to bottom, rgba($color-grey-light-1, 1), rgba($banner-color-primary, 0.8)), url(../img/nat-5.jpg);
    background-size: cover;

    transform: skewY(-6deg);
    & > * {
        transform: skewY(6deg);
    }
}