.section {
    padding:20rem 2rem;
    margin-top: -20vh;
    margin-bottom: -5vh;

    @include responsiveQ(tab-land) {
        padding: 30rem 2rem;
        margin-top: -16vh;
        margin-bottom: -5vh;
    }

    @include responsiveQ(tab-port) {
        padding:25rem 2rem;
        margin-bottom: 5vh;
       }

    @include responsiveQ(phone) {
        padding:20rem 2rem;
        margin-bottom: 3.5vh;
    }
}

.section-about {
    background-color: $color-grey-light-1;

}

.section-feature {
    background-image: linear-gradient( to bottom, rgba($color-grey-light-1, 1), rgba($banner-color-secondary, 0.8)), url(../img/nat-4.jpg);
    background-size: cover;
    backface-visibility: hidden;

    transform: skewY(-6deg);
    & > * {
        transform: skewY(6deg);
    }
}

.section-tour {
    background-color: $color-grey-light-1;
}

.section-story {
    // background-image: linear-gradient( to bottom, rgba($color-grey-light-1, 1), rgba($banner-color-primary, 0.8)), url(../img/nat-5.jpg);
    background-color: $color-grey-light-1;
    background-size: cover;
    position: relative;
}

.section-booking {
    background-color: $color-grey-light-1;
    background-size: cover;
    
}

.booking {
    background-image: linear-gradient(100deg, 
    rgba($color-white, .8) 0%, 
    rgba($color-white, .8) 50%, 
    rgba($color-black, 0)50%), 
    url(../img/nat-10.jpg) ;
    background-size: cover;
    border-radius: 3px;
    box-shadow: $box-shadow-small-heavy;
    height: 50rem;

    @include responsiveQ(tab-port) {
        background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%), url(../img/nat-10.jpg);
    }

    &__form {
        width: 50%;
        padding: 6rem;

        @include responsiveQ(tab-port) {
            width:100%;
        }
    }
}
